<%- include('./partials/head', {headtag}) %>
<%- include('./partials/header') %>
<body>
    <%- articles.body %>
    <%- include('./partials/script', {foottag}) %>
</body>
<!-- <%- include('./partials/footer') %> -->